.d1{
    vertical-align: top;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    width: 350px;
    padding: 10px;
}
.img1{
    width: 50px;
    height: 50px;
    border-radius:40px;
    vertical-align: middle;
    display: inline-block;

}
.b1{
    margin-left: 100px;
    background-color: rgb(51, 199, 248);
    border: none;
    color:white;
    padding: 10px;
    border-radius: 20px;
    width:69px;
}
.div2{
    margin-top: 50px;
    margin-left: 30px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    width:166.56px;
    display: inline-block;
}
.img2{
    height: 200px;
    width: 166.56px;
    object-fit: cover;
    object-position: center;
}
.caption{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p1{
    font-size: 15px;
    color: gray;
    display: inline-block;
}
.b2{
    margin-bottom: 10px;
    padding: 7px;
    background-color: rgb(56, 173, 240);
    border: none;
    border-radius: 6px;
    color: white;
}
.div3{
    padding-left: 2px;
}
.img-logo{
    width: 40px;
    height: 40px;
    border-radius: 45px;
    display: inline-block;
    margin-top: 10px;
}
