.heading{
    font-family: Arial;
    font-weight: bold;
    font-size: large;
    line-height: 25px;
    margin-bottom: 4px;
    margin-top: 0px;
}
.heading1{
    font-family: Arial;
    font-size: 14px;
    color: rgb(108, 107, 107);
    margin-top: 0;
}
.heading2{
    background-color: rgb(220, 0, 0);
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    color: white;
    text-align: center;
}
.img{
    margin-top: 50px;
}
.span{
    color: red;
    cursor: pointer;
}
.span:hover{
    text-decoration: underline;
    color: rgb(117, 109, 109);
}